'.text.physics.pml':
  'InsertGraphic':
    'prefix': 'pmlInsertGraphic'
    'body': 'InsertGraphic{$1locallink}'
  'InsertLink':
    'prefix': 'pmlInsertLink'
    'body': 'InsertLink{$1locallink}'
  'QuantitySub':
    'prefix': 'QuantitySub'
    'body': 'QuantitySub{$1letter}{subscript} '
  'QuantitySuper':
      'prefix': 'pmlQuantitySuper'
      'body': 'QuantitySuper{$1letter}{superscript} '
  'WordSub':
      'prefix': 'pmlWordSub'
      'body': 'WordSub{$1phrase}{subscript} '
  'WordSuper':
      'prefix': 'pmlWordSuper'
      'body': 'WordSuper{$1phrase}{superscript} '
  'NPNucleus':
      'prefix': 'pmlNPNucleus'
      'body': 'NPNucleus{$1nucleonNumber}{protonNumber}{nucleus} '
  'VectorOver':
      'prefix': 'pmlVectorOver'
      'body': 'VectorOver{$1letter} '
  'VectorSub':
      'prefix': 'pmlVectorSub'
      'body': 'VectorSub{$1letter}{subscript} '
  'VectorMagnitude':
      'prefix': 'pmlVectorMagnitude'
      'body': 'VectorMagnitude{$1letter} '
  'QuantitySymbol':
      'prefix': 'pmlQuantitySymbol'
      'body': 'QuantitySymbol{$1letter} '
  'QuantityUnit':
      'prefix': 'pmlQuantityUnit'
      'body': 'QuantityUnit{$1number}{unit} '
  'QuantityExponent':
      'prefix': 'pmlQuantityExponent'
      'body': 'QuantityExponent{$1number}{exponent}{unit} '
  'QuantityRange':
      'prefix': 'pmlQuantityRange'
      'body': 'QuantityRange{$1start}{end}{unit} '
  'QuantityValue':
      'prefix': 'pmlQuantityValue'
      'body': 'QuantityValue{$1letter}{number}{unit} '
  'QuantityOrder':
      'prefix': 'pmlQuantityOrder'
      'body': 'QuantityOrder{$1letter}{exponent}{unit} '
  'JustUnit':
      'prefix': 'pmlJustUnit'
      'body': 'JustUnit{$1unit} '
  'GroupBlock':
      'prefix': 'pmlGroupBlock'
      'body': 'GroupBlock{$1ThePhrase} '
  'FractionBlock':
      'prefix': 'pmlFractionBlock'
      'body': 'FractionBlock{$1word}{word} '
  'QuantityRoot':
      'prefix': 'pmlQuantityRoot'
      'body': 'QuantityRoot{$1letter} '
  'FractionRoot':
      'prefix': 'pmlFractionRoot'
      'body': 'FractionRoot{$1letter}{letter} '
  'FractionQuantity':
      'prefix': 'pmlFractionQuantity'
      'body': 'FractionBlock{$1QuantitySymbol{letter}}{QuantitySymbol{letter}} '
  'FractionQuantitysuper':
      'prefix': 'pmlFractionQuantitysuper'
      'body': 'FractionBlock{$1QuantitySuper{letter}{superscript}}{QuantitySuper{letter}{superscript}} '
  'DifferenceABC':
      'prefix': 'pmlDifferenceABC'
      'body': 'DifferenceABC{$1A}{B}{C} '
  'SumABC':
      'prefix': 'pmlSumABC'
      'body': 'SumABC{$1A}{B}{C} '
  'ProductABeqCD':
      'prefix': 'pmlProductABeqCD'
      'body': 'ProductABeqCD{$1A}{B}{C}{D} '
  'ProductABC':
      'prefix': 'pmlProductABC'
      'body': 'ProductABC{$1A}{B}{C} '
  'ProductQuantityABC':
      'prefix': 'pmlProductQuantityABC'
      'body': 'ProductQuantityABC{$1A}{B}{C} '
  'ProductAnBC':
      'prefix': 'pmlProductAnBC'
      'body': 'ProductAnBC{$1A}{B}{C}#INSERTION '
  'ProductQuantityAnBC':
      'prefix': 'pmlProductQuantityAnBC'
      'body': 'ProductQuantityAnBC{$1A}{B}{C} '
  'FractionABCD':
      'prefix': 'pmlFractionABCD'
      'body': 'FractionABCD{$1A}{B}{C}{D} '
  'Fraction_AxB_dCeqD':
      'prefix': 'pmlFraction_AxB_dCeqD'
      'body': 'Fraction_AxB_dCeqD{$1A}{B}{C}{D} '
  'FractionAeqBx_CdD_':
      'prefix': 'pmlFractionAeqBx_CdD_'
      'body': 'FractionAeqBx_CdD_{$1A}{B}{C}{D} '
  'FractionABC':
      'prefix': 'pmlFractionABC'
      'body': 'FractionABC{$1A}{B}{C} '
  'FractionQuantityABC':
      'prefix': 'pmlFractionQuantityABC'
      'body': 'FractionQuantityABC{$1A}{B}{C} '
  'FractionBdAeqC':
      'prefix': 'pmlFractionBdAeqC'
      'body': 'FractionBdAeqC{$1A}{B}{C} '
  'FractionQuantityBdAeqC':
      'prefix': 'pmlFractionQuantityBdAeqC'
      'body': 'FractionQuantityBdAeqC{$1A}{B}{C} '
  'EqualityAssertion':
      'prefix': 'pmlEqualityAssertion'
      'body': 'EqualityAssertion{$1A}{B} '
  'AccumulateRelationship':
      'prefix': 'pmlAccumulateRelationship'
      'body': 'AccumulateRelationship{$1A}{B}{C} '
  'EfficiencyCalc':
      'prefix': 'pmlEfficiencyCalc'
      'body': 'EfficiencyCalc{$1A}{B} '
  'FileName':
      'prefix': 'pmlFileName'
      'body': 'FileName: $1TheTitle  '
  'WebTitle':
      'prefix': 'pmlWebTitle'
      'body': 'WebTitle{$1TheTitle} '
  'StepHeader':
      'prefix': 'pmlStepHeader'
      'body': 'StepHeader{$1TheHeader} '
  'ThinkHeader':
      'prefix': 'pmlThinkHeader'
      'body': 'ThinkHeader{$1TheHeader} '
  'TeacherOne':
      'prefix': 'pmlTeacherOne'
      'body': 'TeacherOne{$1TheWords} '
  'TeacherTwo':
      'prefix': 'pmlTeacherTwo'
      'body': 'TeacherTwo{$1TheWords} '
  'TeacherThree':
      'prefix': 'pmlTeacherThree'
      'body': 'TeacherThree{$1TheWords} '
  'TeacherSpeak':
      'prefix': 'pmlTeacherSpeak'
      'body': 'TeacherSpeak{$1TheWords} '
  'TeacherTip':
      'prefix': 'pmlTeacherTip'
      'body': 'TeacherTip{$1TheWords} '
  'PupilSpeak':
      'prefix': 'pmlPupilSpeak'
      'body': 'PupilSpeak{$1TheName}{TheWords} '
  'JustSpeak':
      'prefix': 'pmlJustSpeak'
      'body': 'JustSpeak{$1TheWords} '
  'WrongTrack':
      'prefix': 'pmlWrongTrack'
      'body': 'WrongTrack{$1TheWords} '
  'RightLines':
      'prefix': 'pmlRightLines'
      'body': 'RightLines{$1TheWords} '
  'AttributeThis':
      'prefix': 'pmlAttributeThis'
      'body': 'AttributeThis{$1TheAttribution} '
  'QuoteThis':
      'prefix': 'pmlQuoteThis'
      'body': 'QuoteThis{$1ThePhrase} '
  'EmphasiseThis':
      'prefix': 'pmlEmphasiseThis'
      'body': 'EmphasiseThis{$1ThePhrase} '
  'QuotationThis':
      'prefix': 'pmlQuotationThis'
      'body': 'QuotationThis{$1ThePhrase} '
  'SafetyTested':
      'prefix': 'pmlSafetyTested'
      'body': 'SafetyTested{vTheTestDetails} '
  'SafetyTip':
      'prefix': 'pmlSafetyTip'
      'body': 'SafetyTip{$1TheWords} '
