'.text.physics.pml':
  'InsertGraphic':
    'prefix': 'InsertGraphic'
    'body': 'InsertGraphic{$1locallink}'
  'InsertLink':
    'prefix': 'InsertLink'
    'body': 'InsertLink{$1locallink}'
  'QuantitySub':
    'prefix': 'QuantitySub'
    'body': 'QuantitySub{$1letter}{subscript} '
  'QuantitySuper':
      'prefix': 'QuantitySuper'
      'body': 'QuantitySuper{$1letter}{superscript} '
  'WordSub':
      'prefix': 'WordSub'
      'body': 'WordSub{$1phrase}{subscript} '
  'WordSuper':
      'prefix': 'WordSuper'
      'body': 'WordSuper{$1phrase}{superscript} '
  'NPNucleus':
      'prefix': 'NPNucleus'
      'body': 'NPNucleus{$1nucleonNumber}{protonNumber}{nucleus} '
  'VectorOver':
      'prefix': 'VectorOver'
      'body': 'VectorOver{$1letter} '
  'VectorSub':
      'prefix': 'VectorSub'
      'body': 'VectorSub{$1letter}{subscript} '
  'VectorMagnitude':
      'prefix': 'VectorMagnitude'
      'body': 'VectorMagnitude{$1letter} '
  'QuantitySymbol':
      'prefix': 'QuantitySymbol'
      'body': 'QuantitySymbol{$1letter} '
  'QuantityUnit':
      'prefix': 'QuantityUnit'
      'body': 'QuantityUnit{$1number}{unit} '
  'QuantityExponent':
      'prefix': 'QuantityExponent'
      'body': 'QuantityExponent{$1number}{exponent}{unit} '
  'QuantityRange':
      'prefix': 'QuantityRange'
      'body': 'QuantityRange{$1start}{end}{unit} '
  'QuantityValue':
      'prefix': 'QuantityValue'
      'body': 'QuantityValue{$1letter}{number}{unit} '
  'QuantityOrder':
      'prefix': 'QuantityOrder'
      'body': 'QuantityOrder{$1letter}{exponent}{unit} '
  'JustUnit':
      'prefix': 'JustUnit'
      'body': 'JustUnit{$1unit} '
  'GroupBlock':
      'prefix': 'GroupBlock'
      'body': 'GroupBlock{$1ThePhrase} '
  'FractionBlock':
      'prefix': 'FractionBlock'
      'body': 'FractionBlock{$1word}{word} '
  'QuantityRoot':
      'prefix': 'QuantityRoot'
      'body': 'QuantityRoot{$1letter} '
  'FractionRoot':
      'prefix': 'FractionRoot'
      'body': 'FractionRoot{$1letter}{letter} '
  'FractionQuantity':
      'prefix': 'FractionQuantity'
      'body': 'FractionBlock{$1QuantitySymbol{letter}}{QuantitySymbol{letter}} '
  'FractionQuantitysuper':
      'prefix': 'FractionQuantitysuper'
      'body': 'FractionBlock{$1QuantitySuper{letter}{superscript}}{QuantitySuper{letter}{superscript}} '
  'DifferenceABC':
      'prefix': 'DifferenceABC'
      'body': 'DifferenceABC{$1A}{B}{C} '
  'SumABC':
      'prefix': 'SumABC'
      'body': 'SumABC{$1A}{B}{C} '
  'ProductABeqCD':
      'prefix': 'ProductABeqCD'
      'body': 'ProductABeqCD{$1A}{B}{C}{D} '
  'ProductABC':
      'prefix': 'ProductABC'
      'body': 'ProductABC{$1A}{B}{C} '
  'ProductQuantityABC':
      'prefix': 'ProductQuantityABC'
      'body': 'ProductQuantityABC{$1A}{B}{C} '
  'ProductAnBC':
      'prefix': 'ProductAnBC'
      'body': 'ProductAnBC{$1A}{B}{C}#INSERTION '
  'ProductQuantityAnBC':
      'prefix': 'ProductQuantityAnBC'
      'body': 'ProductQuantityAnBC{$1A}{B}{C} '
  'FractionABCD':
      'prefix': 'FractionABCD'
      'body': 'FractionABCD{$1A}{B}{C}{D} '
  'Fraction_AxB_dCeqD':
      'prefix': 'Fraction_AxB_dCeqD'
      'body': 'Fraction_AxB_dCeqD{$1A}{B}{C}{D} '
  'FractionAeqBx_CdD_':
      'prefix': 'FractionAeqBx_CdD_'
      'body': 'FractionAeqBx_CdD_{$1A}{B}{C}{D} '
  'FractionABC':
      'prefix': 'FractionABC'
      'body': 'FractionABC{$1A}{B}{C} '
  'FractionQuantityABC':
      'prefix': 'FractionQuantityABC'
      'body': 'FractionQuantityABC{$1A}{B}{C} '
  'FractionBdAeqC':
      'prefix': 'FractionBdAeqC'
      'body': 'FractionBdAeqC{$1A}{B}{C} '
  'FractionQuantityBdAeqC':
      'prefix': 'FractionQuantityBdAeqC'
      'body': 'FractionQuantityBdAeqC{$1A}{B}{C} '
  'EqualityAssertion':
      'prefix': 'EqualityAssertion'
      'body': 'EqualityAssertion{$1A}{B} '
  'AccumulateRelationship':
      'prefix': 'AccumulateRelationship'
      'body': 'AccumulateRelationship{$1A}{B}{C} '
  'EfficiencyCalc':
      'prefix': 'EfficiencyCalc'
      'body': 'EfficiencyCalc{$1A}{B} '
  'FileName':
      'prefix': 'FileName'
      'body': 'FileName: $1TheTitle  '
  'WebTitle':
      'prefix': 'WebTitle'
      'body': 'WebTitle{$1TheTitle} '
  'StepHeader':
      'prefix': 'StepHeader'
      'body': 'StepHeader{$1TheHeader} '
  'ThinkHeader':
      'prefix': 'ThinkHeader'
      'body': 'ThinkHeader{$1TheHeader} '
  'TeacherOne':
      'prefix': 'TeacherOne'
      'body': 'TeacherOne{$1TheWords} '
  'TeacherTwo':
      'prefix': 'TeacherTwo'
      'body': 'TeacherTwo{$1TheWords} '
  'TeacherThree':
      'prefix': 'TeacherThree'
      'body': 'TeacherThree{$1TheWords} '
  'TeacherSpeak':
      'prefix': 'TeacherSpeak'
      'body': 'TeacherSpeak{$1TheWords} '
  'TeacherTip':
      'prefix': 'TeacherTip'
      'body': 'TeacherTip{$1TheWords} '
  'PupilSpeak':
      'prefix': 'PupilSpeak'
      'body': 'PupilSpeak{$1TheName}{TheWords} '
  'JustSpeak':
      'prefix': 'JustSpeak'
      'body': 'JustSpeak{$1TheWords} '
  'WrongTrack':
      'prefix': 'WrongTrack'
      'body': 'WrongTrack{$1TheWords} '
  'RightLines':
      'prefix': 'RightLines'
      'body': 'RightLines{$1TheWords} '
  'AttributeThis':
      'prefix': 'AttributeThis'
      'body': 'AttributeThis{$1TheAttribution} '
  'QuoteThis':
      'prefix': 'QuoteThis'
      'body': 'QuoteThis{$1ThePhrase} '
  'EmphasiseThis':
      'prefix': 'EmphasiseThis'
      'body': 'EmphasiseThis{$1ThePhrase} '
  'QuotationThis':
      'prefix': 'QuotationThis'
      'body': 'QuotationThis{$1ThePhrase} '
  'SafetyTested':
      'prefix': 'SafetyTested'
      'body': 'SafetyTested{vTheTestDetails} '
  'SafetyTip':
      'prefix': 'SafetyTip'
      'body': 'SafetyTip{$1TheWords} '
