'scopeName': 'text.physics.pml'
'name': 'Physics markup language'
'fileTypes': [
  'pml'
  'md'
]

'patterns': [
  {'include': '#HeaderListTable'}
  {'include': '#LinkGraphic'}
  {'include': '#SpeechBubble'}
  {'include': '#TechnicalExpression'}
  {'include': '#Relationship'}
  {'include': '#AddGlyph'}
  {'include': '#StylePhrase'}
  {'include': '#AddSpacing'}
  {'include': '#MakeComment'}
]

'repository':
  'HeaderListTable':
    'patterns': [
      {
        'match': 'FileName:|WebTitle|StepHeader|ThinkHeader|ListInformationEnd|ListInformation|ListSequenceEnd|ListSequence|ListEquipmentEnd|ListEquipment|StartTable|TableHeader|TableRow|StopTable'
        'name': 'text.physics.pml.pmlPhysics-HeaderListTable'
      }
    ]
  'LinkGraphic':
    'patterns': [
      {
        'match': 'InsertGraphic|InsertLinkPN|InsertLinkTL|InsertLinkTA|InsertLink|URLLink'
        'name': 'text.physics.pml.pmlPhysics-LinkGraphic'
      }
    ]
  'SpeechBubble':
    'patterns': [
      {
        'match': 'TeacherOne|TeacherTwo|TeacherThree|TeacherSpeak|TeacherTip|PupilSpeak|JustSpeak|WrongTrack|RightLines'
        'name': 'text.physics.pml.pmlPhysics-SpeechBubble'
      }
    ]
  'TechnicalExpression':
    'patterns': [
      {
        'match': 'QuantitySymbol|QuantitySub|QuantitySuper|NPNucleus|VectorSub|VectorOver|VectorMagnitude|QuantitySymbol|FractionBlock|FractionRoot|JustUnit|NumberRoot|NumberSuper|QuantityExponent|QuantityOrder|QuantityRange|QuantityRoot|QuantityUnit|QuantityValue|ValueExponent|ValueOrder|ValueRange|ValueUnit|VectorMatrix|WordSub|WordSuper|GroupBlock'
        'name': 'text.physics.pml.pmlPhysics-TechnicalExpression'
      }
    ]
  'Relationship':
    'patterns': [
      {
        'match': 'DifferenceABC|SumABC|ProductABeqCD|ProductQuantityABC|ProductABC|ProductQuantityAnBC|ProductAnBC|EqualityAssertion|FractionAdBeqCdD|FractionQuantityAnBC|FractionQuantityABC|FractionAnBC|FractionABC|FractionQuantityBdCeqA|FractionBdCeqA|FractionAdBeqCDdEF|EfficiencyCalc|AccumulateRelationship'
        'name': 'text.physics.pml.pmlPhysics-Relationship'
      }
    ]
  'AddGlyph':
    'patterns': [
      {
        'match': 'SymbolDelta|SymbolDifferential|SymbolPlusorminus|SymbolPositive|SymbolNegative|SymbolProportion|SymbolEquivalent|SymbolMultipliedby|SymbolMinus|SymbolPlus|SymbolArrowright|SymbolEqual|SymbolPi|SymbolCopyright|SymbolEndash|SymbolHalf|SymbolQuarter|SymbolAlpha|SymbolBeta|SymbolGamma|SymbolPercent|SymbolDegree|SymbolTemperaturecentigrade|SymbolOhm|SymbolAngle|SymbolAngularv|SymbolAngulara|SymbolWavelength|SymbolDensity|SymbolFlux|SymbolEpsilon|SymbolMu|SymbolSigma|SymbolStrain|SymbolStress|UcAlpha|UcBeta|UcGamma|UcDelta|UcEpsilon|UcZeta|UcEta|UcTheta|UcIota|UcKappa|UcLambda|UcMu|UcNu|UcXi|UcOmicron|UcPi|UcRho|UcSigma|UcTau|UcUpsilon|UcPhi|UcChi|UcPsi|UcOmega|LcAlpha|LcBeta|LcGamma|LcDelta|LcEpsilon|LcZeta|LcEta|LcTheta|LcIota|LcKappa|LcLambda|LcMu|LcNu|LcXi|LcOmicron|LcPi|LcRho|LcSigma|LcTau|LcUpsilon|LcPhi|LcChi|LcPsi|LcOmega'
        'name': 'text.physics.pml.pmlPhysics-AddGlyph'
      }
    ]
  'StylePhrase':
    'patterns': [
      {
        'match': 'AttributeThis|QuoteThis|EmphasiseThis|QuotationThis|SafetyTested|SafetyTip'
        'name': 'text.physics.pml.pmlPhysics-StylePhrase'
      }
    ]
  'AddSpacing':
    'patterns': [
      {
        'match': 'SpacingLinebreak|SpacingParabreak|SpacingThinspace|SpacingNonbreakspace'
        'name': 'text.physics.pml.pmlPhysics-AddSpacing'
      }
    ]
  'MakeComment':
    'patterns': [
      {
        'match': '(^#+ .*)|({\\+\\+.*\\+\\+})|({--.*--})|({==.*==})|({>>.*<<})|({~~.*~>.*~~})'
        'name': 'text.physics.pml.pmlPhysics-MakeComment'
      }
    ]
