
atom-text-editor.editor, .text .physics .pml {
  .syntax--pmlPhysics-HeaderListTable {
    background-color: #A5CFE4;
    color: #B13254;
  }
  .syntax--pmlPhysics-number {
    color: #B13254;
    background-color: #A5CFE4;

  }
  .syntax--pmlPhysics-LinkGraphic {
    color: #B13254;
    background-color: #A5CFE4;
  }
  .syntax--pmlPhysics-SpeechBubble {
    color: #11779F;
    background-color: #A5CFE4;
  }
  .syntax--pmlPhysics-TechnicalExpression {
    background-color: #A5CFE4;
  }
  .syntax--pmlPhysics-Relationship {
    background-color: #A5CFE4;
  }
  .syntax--pmlPhysics-AddGlyph {
      background-color: #A5CFE4;
    }
  .syntax--pmlPhysics-StylePhrase {
      background-color: #A5CFE4;
    }
  .syntax--pmlPhysics-structure {
      background-color: #A5CFE4;
    }
  .syntax--pmlPhysics-arrangecharacter {
      background-color: #A5CFE4;
    }
  .syntax--pmlPhysics-AddSpacing {
    background-color: #A5CFE4;
    }
  .syntax--pmlPhysics-MakeComment {
    background-color: #A5CFE4;
  }
}
