
atom-text-editor.editor, .text .physics .pml {
  .syntax--pmlPhysics-HeaderListTable {
    background-color: #F7E98A;
    color: #883C66;
  }
  .syntax--pmlPhysics-LinkGraphic {
    background-color: #F7E98A;
    color: #D45033;
  }
  .syntax--pmlPhysics-SpeechBubble {
    background-color: #F7E98A;
    color: #FF7821;
  }
  .syntax--pmlPhysics-TechnicalExpression {
    background-color: #F7E98A;
    color: #21A4E4;
  }
  .syntax--pmlPhysics-Relationship {
    background-color: #F7E98A;
    color: #4441FF;
  }
  .syntax--pmlPhysics-AddGlyph {
    background-color: #F7E98A;
    color: #04814A;
  }
  .syntax--pmlPhysics-StylePhrase {
    background-color: #F7E98A;
    color: #11779F;
  }
  .syntax--pmlPhysics-AddSpacing {
    background-color: #F7E98A;
    color: #8A42BF;
  }
  .syntax--pmlPhysics-MakeComment {
    background-color: #F7E98A;
    color: #B10904;
  }
}
